{% extends 'Guest/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: rgb(6, 17, 67) ;
    }
    table{
        margin-bottom: 100px;
        border: 1px white;
        border-collapse: collapse;
        padding: 8px;
    }
    tr {
  color: #fcfdfd; 
    }
    td {
  color: #fdfdfd;
}
h1{
    margin-top: 100px;
    color: #fdfcfc;
}
</style>
<body>
    <h1 align="center">Create New Password</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" border="1">
            <tr>
                <td>New Password</td>
                <td><input type="password" name="txtpassword2" ></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="txtpassword3" onchange="chkpwd(this,password)"><span id="pass"></span></td>
            </tr>
            <tr>
                <td><input type="submit" value="Update"><input type="reset" value="Cancel"></td>
            </tr>
        </table>
    </form>
</body>
</html>
<script>
    function chkpwd(txtrp, txtp) {
        if ((txtrp.value) != (txtp.value)) {
            document.getElementById("pass").innerHTML = "<span style='color: red;'>Passwords Mismatch</span>";
        }
    }
</script>
{% endblock content %}