{% extends 'Guest/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
        margin-bottom: 100px;
        border: 1px white;
        border-collapse: collapse;
        padding: 8px;
    }
    td {
  color: #fcfdfd; 
    }
    td {
  color: #fdfdfd;
}
h1{
    margin-top: 100px;
    color: #fdfcfc;
}
</style>
<body style="background-color: rgb(6, 17, 67) ;">
    <h1 align="center">Recover password</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" border="1" >
            <tr>
                <td>Enter Email ID</td>
                <td><input type="email" name="email" onchange="emailval(this)"><span id="content"></span></td>
            </tr>
            <tr>
                <td><input type="submit" value="Send OTP"></td>
            </tr>
        </table>
    </form>
</body>
</html>
<script>
    function emailval(elem) {
        var emailexp = /^([a-zA-Z0-9.\_\-])+\@([a-zA-Z0-9.\_\-])+\.([a-zA-Z]{2,4})$/;
        if (elem.value.match(emailexp)) {
            document.getElementById("content").innerHTML = "";
            return true;
        }
        else {

            document.getElementById("content").innerHTML = "<span style='color: red;'>Check Email Address Entered</span>";;
            elem.focus();
            return false;
        }
    }
</script>
{% endblock content %}