{% extends 'Recipient/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center" style="margin-top: 100px;color: #ffffff;">EDIT EVENT</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" style="color: #ffffff;">
            <tr>
                <th>Event Name</th>
                <td><input type="text" name="event_name" value="{{data.event_name}}"></td>
            </tr>
            <tr>
                <th>Details</th>
                <td><input type="text" name="details" value="{{data.details}}"></td>
            </tr>
            <tr>
                <th>Date</th>
                <td><input type="date" name="date" value="{{data.date}}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Change"></td>
                <td><input type="reset" value="Cancel"></td>
            </tr>
        </table>
    </form>
</body>
</html>
{% endblock content %}