{% extends 'Recipient/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 align="center" style="color: deeppink; margin-top: 75px;">APPOINTMENTS</h1>
    <table align="center" border="1" style="border: slategray; color: aliceblue;">
        <th>SLNO</th>
        <th>Visiter</th>
        <th>Date</th>
        <th>Time</th>
        <th>Purpose</th>
        <th>Status</th>
        <TH>Action</TH>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}} </td>
            <td>{{i.donar_id.donar_name}} </td>
            <td>{{i.date}} </td>
            <td>{{i.time}} </td>
            <td>{{i.purpose}}</td>
            <td> {% if i.status == 0 %}
                <p style="color: yellow;">Application On Process</p>
                {% elif i.status == 1 %}
                <p style="color: green;">Application Accepted</p>
                {% elif i.status == 3 %}
                <p style="color: greenyellow;">Visited</p>
                {% else %}
                <p style="color: red;">Rejected</p>
                {% endif %}</td>
            <td><a href="{% url 'Recipient:acceptappointment' i.id %}">ACCEPT </a> | 
                <a href="{% url 'Recipient:denyappointment' i.id %}">DENY</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
{% endblock content %}