<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Category</td>
                <td><input type="text" name="category" id="" value="{{data.category_name}}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Save" name="save"></td>
                <td><input type="reset" value="Cancel" name="cancel"></td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Sl_no</th>
                <th>Cateory_name</th>
                <th>Action</th>
            </tr>
            {% for i in category %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.category_name}}</td>
                <td><a href="{% url 'Admin:deletecategory' i.id %}">Delete</a> | <a href="{% url 'Admin:editcategory' i.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>

</html>