{% extends 'Admin/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center" style="margin-top: 100px;">Rejected list  of Donars</h1>
    <form action="" method="post">
    <table border="1" align="center" style="margin-top: 200px;">
        <tr>
            <td>Slno</td>
            <td>Name</td>
            <td>Contact</td>
            <td>Email</td>
            <td>Address</td>
            <td>Photo</td>
            <td>Proof</td>
            <td>Action</td>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.donar_name}} </td>
            <td>{{i.contact}} </td>
            <td>{{i.email}} </td>
            <td>{{i.address}} </td>
            <td><img src="{{i.photo.url}}" width="150" height="150"></td>
            <td><img src="{{i.proof.url}}" width="150" height="150"></td>
            <td><a href="{% url 'Admin:acceptdonar' i.id %}">Accept</a></td>
        </tr>
        {% endfor %}
    </table>
</form>
</body>
</html>
{% endblock content %}