{% extends 'Donar/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1 align="center" style="margin-top: 100px;">Feedback</h1>
<body>
    <form action="" method="post">
    {% csrf_token %}
    <table border="1" align="center" style="margin-bottom: 100px;">
        <tr>
            <td>Content</td>
        </tr>        
        <tr>
            <td><input type="text" name="feedback" ></td>
        </tr>
        <tr>
            <td><input type="submit" value="Send Feedback"></td>
        </tr>
    </table>
</form>
</body>
</html>
{% endblock content %}